### Exercise 1 - Data set

(a) What is the information you can obtain from the data set/ data sets?
(i) Understanding demographics like age, occupation, income, and the number of accounts or credit cards each customer holds.
(ii) Stability, security, and ability to manage finances effectively by assessing income, outstanding debt, credit utilization ratio, and monthly balances.
(iii) Analyzing credit-related behaviors such as credit score, credit inquiries, credit history age, and types of loans.
(iv) Identifying payment behaviors including delays from due dates, instances of delayed payments, whether minimum payment amounts are met, etc
(v) Analysis on loans by assessing the interest rates on loans, the number and of loans taken by each customer, and changes in credit limits.
(vi) Analyzing the payment behavior
(vii) Analyze trends over time (4 months)

In [1]:
import pandas as pd

In [5]:
#path = 'C://Users//20223760//OneDrive - TU Eindhoven//Documents//School//Year 2//Q2//Visualization//Assignment 1//all_data.csv'
path = 'all_data.csv'
df = pd.read_csv(path, sep=';', lineterminator='\r')
df.head(50)

C:\Users\ambra\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,\n0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,"19114,12","1824,843333",3.0,...,Good,"809,98","35,03040186",22 Years and 9 Months,No,"49,57494921","236,642682",Low_spent_Small_value_payments,"186,2667021",NaN
1,\n0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,"19114,12","1824,843333",3.0,...,Good,"809,98","33,0531145",22 Years and 10 Months,No,"49,57494921","21,46538026",High_spent_Medium_value_payments,"361,4440039",NaN
2,\n0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,"19114,12","1824,843333",3.0,...,Good,"809,98","33,81189412",NaN,No,"49,57494921","148,2339379",Low_spent_Medium_value_payments,"264,6754462",NaN
3,\n0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,"19114,12",NaN,3.0,...,Good,"809,98","32,43055902",23 Years and 0 Months,No,"49,57494921","39,08251089",High_spent_Medium_value_payments,"343,8268732",NaN
4,\n0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,"34847,84","3037,986667",2.0,...,Good,"605,03","25,9268217",27 Years and 3 Months,No,"18,81621457","39,68401842",High_spent_Large_value_payments,"485,2984337",NaN
5,\n0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,"34847,84","3037,986667",2.0,...,Good,"605,03","30,11660045",27 Years and 4 Months,No,"18,81621457","251,6273688",Low_spent_Large_value_payments,"303,3550833",NaN
6,\n0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,"34847,84","3037,986667",2.0,...,_,"605,03","30,99642374",27 Years and 5 Months,No,"18,81621457","72,68014533",High_spent_Large_value_payments,"452,3023068",NaN
7,\n0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,"34847,84","3037,986667",2.0,...,_,"605,03","33,87516722",27 Years and 6 Months,No,"18,81621457","153,5344876",!@9#%8,"421,4479645",NaN
8,\n0x1622,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,"143162,64",NaN,1.0,...,Good,"1303,01","35,22970733",18 Years and 5 Months,No,"246,9923195","397,5036535",Low_spent_Medium_value_payments,"854,226027",NaN
9,\n0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,"143162,64","12187,22",1.0,...,Good,"1303,01","35,68583595",18 Years and 6 Months,No,"246,9923195","453,6151306",Low_spent_Large_value_payments,"788,11455",NaN
10,\n0x1624,CUS_0x2dbc,November,NaN,35,486-85-3974,Engineer,"143162,64","12187,22",1.0,...,Good,1303.01_,"31,81984543",18 Years and 7 Months,No,"246,9923195","841,2322359",Low_spent_Medium_value_payments,"410,4974446",NaN
11,\n0x1625,CUS_0x2dbc,December,Langep,35,486-85-3974,Engineer,"143162,64","12187,22",1.0,...,Good,"1303,01","33,70716887",NaN,No,"246,9923195","506,3077797",High_spent_Medium_value_payments,"715,4219008",NaN
12,\n0x162e,CUS_0xb891,September,Jasond,55,072-31-6145,Entrepreneur,"30689,89","2612,490833",2.0,...,Good,"632,46","39,3772194",17 Years and 11 Months,No,"16,41545166","69,10700585",High_spent_Medium_value_payments,"425,7266258",NaN
13,\n0x162f,CUS_0xb891,October,Jasond,55,072-31-6145,Entrepreneur,"30689,89","2612,490833",2.0,...,_,"632,46","36,28047545",18 Years and 0 Months,No,"16,41545166","29,39331143",High_spent_Large_value_payments,"455,4403202",NaN
14,\n0x1630,CUS_0xb891,November,Jasond,55,072-31-6145,Entrepreneur,"30689,89","2612,490833",2.0,...,Good,"632,46","36,82446782",18 Years and 1 Months,No,"16,41545166","191,8862436",Low_spent_Medium_value_payments,"332,9473881",NaN
15,\n0x1631,CUS_0xb891,December,Jasond,55,072-31-6145,Entrepreneur,4148862,"2612,490833",2.0,...,Good,"632,46","35,57926495",18 Years and 2 Months,No,"16,41545166","233,9334171",Low_spent_Small_value_payments,"300,9002145",NaN
16,\n0x163a,CUS_0x1cdb,September,Deepaa,22,615-06-7821,Developer,"35547,71","2853,309167",7.0,...,_,"943,86","34,72984236",31 Years and 4 Months,Yes,0,"59,36605764",High_spent_Medium_value_payments,"475,964859",NaN
17,\n0x163b,CUS_0x1cdb,October,Deepaa,22,#F%$D@*&8,Developer,"35547,71","2853,309167",7.0,...,Standard,"943,86","31,65235104",31 Years and 5 Months,Yes,0,"113,4526563",High_spent_Medium_value_payments,"421,8782604",NaN
18,\n0x163c,CUS_0x1cdb,November,Deepaa,22,615-06-7821,Developer,"35547,71","2853,309167",7.0,...,Standard,"943,86","36,42483453",NaN,Yes,0,"46,56457517",High_spent_Medium_value_payments,"488,7663415",NaN
19,\n0x163d,CUS_0x1cdb,December,Deepaa,22,615-06-7821,Developer,"35547,71","2853,309167",7.0,...,Standard,"943,86","29,56612273",31 Years and 7 Months,Yes,0,"181,0072171",Low_spent_Small_value_payments,"394,3236995",NaN
20,\n0x1646,CUS_0x95ee,September,Np,31,612-70-8987,Lawyer,"73928,46","5988,705",4.0,...,Good,"548,2","38,13542414",32 Years and 7 Months,No,0,"56,12102438",High_spent_Large_value_payments,"782,7494756",NaN
21,\n0x1647,CUS_0x95ee,October,Np,32,612-70-8987,Lawyer,"73928,46","5988,705",4.0,...,Good,"548,2","38,22647527",32 Years and 8 Months,No,0,"160,2443127",High_spent_Small_value_payments,"698,6261873",NaN
22,\n0x1648,CUS_0x95ee,November,Np,1694,612-70-8987,Lawyer,"73928,46","5988,705",4.0,...,_,"548,2","31,29184945",32 Years and 9 Months,No,0,"105,7480631",High_spent_Large_value_payments,"733,1224369",NaN
23,\n0x1649,CUS_0x95ee,December,Np,32,612-70-8987,Lawyer,"73928,46","5988,705",4.0,...,Good,"548,2","29,15099519",32 Years and 10 Months,No,0,"130,8739635",High_spent_Large_value_payments,"707,9965365",NaN
24,\n0x1652,CUS_0x284a,September,Nadiaq,34,411-51-0676,Lawyer,"131313,4","10469,20776",0.0,...,Good,"352,16","28,4010576",NaN,No,"911,2201793","324,2286393",High_spent_Medium_value_payments,"912,4050886",NaN
25,\n0x1653,CUS_0x284a,October,Nadiaq,34,411-51-0676,Lawyer,"131313,4","10469,20776",0.0,...,Good,"352,16","31,0255711",31 Years and 4 Months,No,"911,2201793","966,0743359",Low_spent_Large_value_payments,"290,559392",NaN
26,\n0x1654,CUS_0x284a,November,Nadiaq,34,411-51-0676,Lawyer,"131313,4","10469,20776",0.0,...,Good,"352,16","26,06663998",31 Years and 5 Months,NM,"911,2201793","1141,220313",Low_spent_Medium_value_payments,"125,4134153",NaN
27,\n0x1655,CUS_0x284a,December,Nadiaq,34,411-51-0676,Lawyer,"131313,4",NaN,0.0,...,Good,"352,16","34,66559279",31 Years and 6 Months,NM,"911,2201793","555,8479877",Low_spent_Medium_value_payments,"710,7857402",NaN
28,\n0x165e,CUS_0x5407,September,Annk,30,500-92-6408,Media_Manager,"34081,38","2611,115",8.0,...,_,"1704,18","38,47744403",15 Years and 3 Months,Yes,"70,47833267","315,3668006",Low_spent_Small_value_payments,"165,2663667",NaN
29,\n0x165f,CUS_0x5407,October,Annk,30,500-92-6408,Media_Manager,"34081,38",NaN,8.0,...,Standard,"1704,18","38,36868221",15 Years and 4 Months,Yes,"70,47833267","112,9063529",High_spent_Small_value_payments,"337,7268145",NaN
30,\n0x1660,CUS_0x5407,November,NaN,31,500-92-6408,Media_Manager,"34081,38","2611,115",8.0,...,Standard,"1704,18","35,82251605",15 Years and 5 Months,NM,"70,47833267","50,13096033",High_spent_Medium_value_payments,"390,502207",NaN
31,\n0x1661,CUS_0x5407,December,Annk,31,500-92-6408,Media_Manager,"34081,38","2611,115",8.0,...,Standard,"1704,18","34,74895318",15 Years and 6 Months,NM,"70,47833267","99,68631755",High_spent_Medium_value_payments,"340,9468498",NaN
32,\n0x166a,CUS_0x4157,September,Charlie Zhur,24,070-19-1622,Doctor,"114838,41","9843,8675",2.0,...,Good,"1377,74","41,45901753",22 Years and 0 Months,NM,"226,8927919","213,4764872",High_spent_Large_value_payments,"784,0174709",NaN
33,\n0x166b,CUS_0x4157,October,Charlie Zhur,24,070-19-1622,Doctor,"114838,41","9843,8675",2.0,...,Good,"1377,74","29,17639211",22 Years and 1 Months,No,"226,8927919","916,951486",Low_spent_Medium_value_payments,"120,5424721",NaN
34,\n0x166c,CUS_0x4157,November,Charlie Zhur,914,070-19-1622,Doctor,"114838,41",NaN,2.0,...,Good,"1377,74","28,99392153",22 Years and 2 Months,No,"226,8927919","427,3814491",Low_spent_Large_value_payments,"600,112509",NaN
35,\n0x166d,CUS_0x4157,December,Charlie Zhur,24,070-19-1622,Doctor,"114838,41","9843,8675",2.0,...,_,"1377,74","34,99737909",22 Years and 3 Months,No,"226,8927919",NaN,High_spent_Small_value_payments,"819,9903417",NaN
36,\n0x1676,CUS_0xba08,September,Jamesj,45,366-68-1681,Journalist,"31370,8","2825,233333",1.0,...,Good,"421,43","40,63313117",27 Years and 1 Months,No,"46,61612907","161,5833767",!@9#%8,"364,3238276",NaN
37,\n0x1677,CUS_0xba08,October,Jamesj,45,366-68-1681,Journalist,"31370,8","2825,233333",1.0,...,Good,"421,43","33,85409635",27 Years and 2 Months,No,"46,61612907","109,4207626",High_spent_Medium_value_payments,"376,4864417",NaN
38,\n0x1678,CUS_0xba08,November,NaN,45,366-68-1681,Journalist,"31370,8","2825,233333",1.0,...,_,"421,43","25,68227057",27 Years and 3 Months,No,"46,61612907","88,6144377",High_spent_Medium_value_payments,"397,2927666",NaN
39,\n0x1679,CUS_0xba08,December,Jamesj,45,366-68-1681,Journalist,"31370,8",NaN,1.0,...,Good,"421,43","40,30423114",27 Years and 4 Months,No,"46,61612907","22,29805714",High_spent_Large_value_payments,"453,6091471",NaN
40,\n0x1682,CUS_0xa66b,September,Saphirj,41_,221-30-8554,Teacher,"33751,27","2948,605833",5.0,...,Standard,"1328,93","27,98309292",19 Years and 10 Months,Yes,"65,00817429","271,2081244",Low_spent_Small_value_payments,"248,6442846",NaN
41,\n0x1683,CUS_0xa66b,October,Saphirj,41,221-30-8554,_______,"33751,27",NaN,5.0,...,Standard,"1328,93","36,77820877",19 Years and 11 Months,Yes,"65,00817429","139,3030385",Low_spent_Small_value_payments,"380,5493705",NaN
42,\n0x1684,CUS_0xa66b,November,Saphirj,41,221-30-8554,Teacher,"33751,27","2948,605833",5.0,...,_,"1328,93","34,9214443",20 Years and 0 Months,NM,"65,00817429","333,0991662",Low_spent_Small_value_payments,"186,7532428",NaN
43,\n0x1685,CUS_0xa66b,December,Saphirj,41_,221-30-8554,Teacher,"33751,27","2948,605833",5.0,...,Standard,"1328,93","38,58567161",NaN,Yes,"65,00817429","103,1005921",High_spent_Medium_value_payments,"376,7518169",NaN
44,\n0x168e,CUS_0xc0ab,September,Soyoungd,33,342-90-2649,Engineer,"88640,24","7266,686667",3.0,...,Good,"950,36","36,01489802",NaN,No,"135,173371","77,84134311",High_spent_Large_value_payments,"753,6539526",NaN
45,\n0x168f,CUS_0xc0ab,October,Soyoungd,33,342-90-2649,Engineer,"88640,24","7266,686667",3.0,...,_,"950,36","26,67968664",26 Years and 2 Months,No,"135,173371","143,7326053",High_spent_Medium_value_payments,"697,7626904",NaN
46,\n0x1690,CUS_0xc0ab,November,Soyoungd,33,342-90-2649,_______,"88640,24","7266,686667",3.0,...,Good,"950,36","38,84765926",26 Years and 3 Months,NM,"135,173371",NaN,Low_spent_Small_value_payments,"411,4179933",NaN
47,\n0x1691,CUS_0xc0ab,December,Soyoungd,33,342-90-2649,Engineer,"88640,24",NaN,3.0,...,Good,"950,36","40,85389437",26 Years and 4 Months,No,"135,173371","365,3193151",High_spent_Small_value_payments,"486,1759806",NaN
48,\n0x169a,CUS_0x3e45,September,Harriet McLeodd,36,414-53-2918,Entrepreneur,"54392,16","4766,68",6.0,...,Standard,"179,22","33,50246118",27 Years and 6 Months,Yes,"124,3920824","329,5529934",Low_spent_Large_value_payments,"292,7229242",NaN
49,\n0x169b,CUS_0x3e45,October,Harriet McLeodd,36,414-53-2918,Entrepreneur,"54392,16","4766,68",6.0,...,Standard,"179,22","34,02279546",27 Years and 7 Months,Yes,"124,3920824","145,3305789",Low_spent_Medium_value_payments,"486,9453386",NaN

(b) What are the attributes in the data and what is their meaning?
ID: Unique identifier for each entry or record.
Customer_ID: Unique identifier for each customer.
Month: Month of the data entry.(sept-oct-nov-dec)
Name: Name of the customer.
Age: Age of the customer.
SSN: Social Security Number of the customer.
Occupation: Occupation or job title of the customer.
Annual_Income: Annual income of the customer.
Monthly_Inhand_Salary: Monthly take-home salary of the customer.
Num_Bank_Accounts: Number of bank accounts the customer has.
Num_Credit_Card: Number of credit cards the customer has.
Interest_Rate: Interest rate associated with the customer's loans.
Num_of_Loan: Number of loans the customer has.
Type_of_Loan: Types of loans (e.g., Auto Loan, Credit-Builder Loan, Personal Loan, Home Equity Loan).
Delay_from_due_date: Delay from the due date for payments.
Num_of_Delayed_Payment: Number of delayed payments.
Changed_Credit_Limit: Indicates if the credit limit has been changed.
Num_Credit_Inquiries: Number of credit inquiries made by the customer.
Credit_Mix: Mix of credit types (standard, good, etc).
Outstanding_Debt: Amount of outstanding debt.
Credit_Utilization_Ratio: Ratio of credit used to credit available.
Credit_History_Age: Age of the credit history.
Payment_of_Min_Amount: Indicates if the minimum payment amount has been paid.
Total_EMI_per_month: Total Equated Monthly Installment (EMI) amount.
Amount_invested_monthly: Amount invested by the customer monthly.
Payment_Behaviour: Behavior related to payments (e.g., Low_spent_Small_value_payments).
Monthly_Balance: Monthly balance in the account.
Credit_Score: Credit score of the customer.

(c) Write a small parsing function that can read the data position (column, row) from the file format 
you selected.

(d) Write another function that outputs the distribution of the attributes, and counts the frequencies of 
the different values.

(e) Try to describe the data set in just a few sentences. How is the data provided? Which kind of 
attributes are contained in the data set? How large is the data set in terms of the number of those 
elements (listings, reviews, vehicles, geographic regions and locations, extra records, and so on)?

(f) Analyze the errors and missing values. Write a function to count how many missing values per 
attribute and per entry you have. Analyze what are the most relevant missing values that might 
hinder the analysis according to you.

In [11]:
# Gives the count back of missing values of attributes and entries.
def count_missing_values(df):
    # Count missing values per attribute
    missing_per_attribute = df.isnull().sum()

    # Count missing values per entry (row)
    missing_per_entry = df.isnull().sum(axis=1)

    return missing_per_attribute, missing_per_entry


missing_attributes, missing_entries = count_missing_values(df)

In [13]:
missing_attributes, missing_entries

(ID                              0
 Customer_ID                     1
 Month                           1
 Name                        15001
 Age                             1
 SSN                             1
 Occupation                      1
 Annual_Income                   1
 Monthly_Inhand_Salary       22501
 Num_Bank_Accounts               1
 Num_Credit_Card                 1
 Interest_Rate                   1
 Num_of_Loan                     1
 Type_of_Loan                17113
 Delay_from_due_date             1
 Num_of_Delayed_Payment      10501
 Changed_Credit_Limit            1
 Num_Credit_Inquiries         3001
 Credit_Mix                      1
 Outstanding_Debt                1
 Credit_Utilization_Ratio        1
 Credit_History_Age          13501
 Payment_of_Min_Amount           1
 Total_EMI_per_month             1
 Amount_invested_monthly      6751
 Payment_Behaviour               1
 Monthly_Balance              1763
 Credit_Score                50001
 dtype: int64,
 0          1
 1          1
 2          2
 3          2
 4          1
           ..
 149996     0
 149997     0
 149998     1
 149999     0
 150000    27
 Length: 150001, dtype: int64)

(g) Think about possible solutions for the missing/error values and propose a solution arguing your 
choice.

Most important relevant missing data is the Credit_History_Age, and Num_of_Delayed_Payment as these
are important for predicting a persons credit score in the future.

As the dataset is quite large and has lots of data, I suggest to fill the rows with the mean. This way the ML algo can predict the ones left more accurately and also have a better shot of understanding the data to compare it to the future.